<div class="Four-squares">
	<div class="Four-squares-Top">
		<div class="Four-squares-content">{{ content.main_1 }}</div>
		<div class="Four-squares-content">{{ content.main_2 }}</div>
	</div>
	<div class="Four-squares-Bottom">
		<div class="Four-squares-content">{{ content.main_3 }}</div>
		<div class="Four-squares-content">{{ content.main_4 }}</div>
	</div>
</div>